<h2>Edit {{car.brand}} {{car.model}}</h2>

<form>
  <div class="row">
    <div class="large-4 columns">
    	<div class="row collapse prefix-radius">
        	<div class="small-3 columns">
            	<span class="prefix">Марка</span>
            </div>
            <div class="small-9 columns">
            	<input type="text" id="brand" ng-model="car.brand" required>
            </div>
        </div>
    </div>
    
    <div class="large-4 columns">
    	<div class="row collapse prefix-radius">
        	<div class="small-3 columns">
            	<span class="prefix">Модел</span>
            </div>
            <div class="small-9 columns">
            	<input type="text" id="model" ng-model="car.model" required>
            </div>
        </div>
    </div>
    
    <div class="large-4 columns">
    	<div class="row collapse prefix-radius">
        	<div class="small-4 columns">
            	<span class="prefix">Произведена</span>
            </div>
            <div class="small-8 columns">
            	<input type="date" type="text" id="produced" ng-model="car.produced" required>
            </div>
        </div>
    </div>

  </div>
  
    <div class="row">
    <div class="large-4 columns">
    	<div class="row collapse prefix-radius">
        	<div class="small-4 columns">
            	<span class="prefix">Регистрация</span>
            </div>
            <div class="small-8 columns">
            	<input type="text" id="registration" ng-model="car.registration" required>
            </div>
        </div>
    </div>
    
    <div class="large-4 columns">
    	<div class="row collapse prefix-radius">
        	<div class="small-3 columns">
            	<span class="prefix">Latitude</span>
            </div>
            <div class="small-9 columns">
            	<input type="text" id="latitude" ng-model="car.lat" required>
            </div>
        </div>
    </div>
    <div class="large-4 columns">
    	<div class="row collapse prefix-radius">
        	<div class="small-3 columns">
            	<span class="prefix">Longitude</span>
            </div>
            <div class="small-9 columns">
            	<input type="text" id="longitude" ng-model="car.lng" required>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label for="stock"> В наличност
                <select ng-model="car.inStock" name="stock" required>
                    <option value="1">да</option>
                    <option value="0">не</option>
                </select>
            </label>        	
        </div>
        <div class="large-6 columns">
            <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                    <span class="prefix">Image</span>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="image" ng-model="car.image" required>
                </div>
            </div>
        </div>
    </div>
 

</form>
<div class="row">
	<div class="large-6 columns">
    <a class="button left radius alert small" href="#/delete/{{index}}">Delete</a>
    </div>
    <div class="large-6 columns">
    <a class="button right radius success small" href="#/">Done</a>
    </div>
</div>